@page "/formulas"
@attribute [StreamRendering]

<h3>Formulas</h3>
<br />
<p>I'm publicly sharing this info with a special shoutout to ayumilove and everyone else who has gathered information and formulas over the years.</p>

<div class="row">
	<div class="col">
		<p><strong>Hits To Kill</strong></p>
		<div>
			<p><a href="https://github.com/GDBobby/Maple-Hits-For-Monster/blob/e802bcf68ee9ba736904ab9ff0bccb9f8e3e5c7e/Statisticing/main.cpp#L77">Probability Algorithm</a></p>
			<p><a href="https://github.com/GDBobby/Maple-Hits-For-Monster">Brute Force Method</a></p>
		</div>
	</div>
	<div class="col">
		<br />
	</div>
</div>

@code {

}
