@page "/skills"
@attribute [StreamRendering]

<h3>Class Skills</h3>

<div>
	<div>
		<style>
			.btn{
				border: none;
				background-color: inherit;
				font-size: 16px;
				cursor: pointer;
				color: darkblue;
			}
		</style>
		<table>
			<tbody>
				<tr>
					<td width="11%"><button class="btn">Warrior</button></td>
					<td width="10%"><button class="btn">Spearman</button></td>
					<td width="10%"><button class="btn">Dragon Kight</button></td>
					<td width="10%"><button class="btn">Dark Knight</button></td>
				</tr>
				<tr>
					<td></td>
					<td><button class="btn">Page</button></td>
					<td><button class="btn">White Knight</button></td>
					<td><button class="btn">Paladin</button></td>
				</tr>
				<tr>
					<td></td>
					<td><button class="btn">Fighter</button></td>
					<td><button class="btn">Crusader</button></td>
					<td><button class="btn">Hero</button></td>
				</tr>
				<tr><td><br/></td></tr>
				<tr>
					<td><button class="btn">Archer</button></td>
					<td><button class="btn">Hunter</button></td>
					<td><button class="btn">Ranger</button></td>
					<td><button class="btn">Bowmaster</button></td>
				</tr>
				<tr>
					<td></td>
					<td><button class="btn">Crossbowman</button></td>
					<td><button class="btn">Sniper</button></td>
					<td><button class="btn">Marksman</button></td>
				</tr>
				<tr><td><br /></td></tr>
				<tr>
					<td><button class="btn">Thief</button></td>
					<td><button class="btn">Bandit</button></td>
					<td><button class="btn">Chief Bandit</button></td>
					<td><button class="btn">Shadower</button></td>
				</tr>
				<tr>
					<td></td>
					<td><button class="btn">Assassin</button></td>
					<td><button class="btn">Hermit</button></td>
					<td><button class="btn">Night Lord</button></td>
				</tr>
				<tr><td><br /></td></tr>
				<tr>
					<td><button class="btn">Magician</button></td>
					<td><button class="btn">Cleric</button></td>
					<td><button class="btn">Priest</button></td>
					<td><button class="btn">Bishop</button></td>
				</tr>
				<tr>
					<td></td>
					<td><button class="btn">Fire Poison Wizard</button></td>
					<td><button class="btn">Fire Poison Mage</button></td>
					<td><button class="btn">Fire Poison ArchMage</button></td>
				</tr>
				<tr>
					<td></td>
					<td><button class="btn">Ice Lightning Wizard</button></td>
					<td><button class="btn">Ice Lightning Mage</button></td>
					<td><button class="btn">Ice Lightning Archmage</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>

	</div>
<div>

</div>
</div>

@code {

}
